name: Build and Deploy for using Chinese index
on:
    # Manual nightly & release
    workflow_dispatch:

run-name: Element Desktop
jobs:
    build:
        runs-on: macos-15 # M1
        steps:
            - uses: maxim-lobanov/setup-xcode@v1
              with:
                  xcode-version: latest-stable

            - uses: actions/checkout@v6

            - name: prepare
              id: prepare
              run: |
                  echo "version=$(cat package.json | jq -r .version)" >> $GITHUB_OUTPUT
                  echo "strDate=$(TZ=UTC-8 date +%Y-%m-%d)" >> $GITHUB_OUTPUT
            - name: Install Rust
              if: steps.cache.outputs.cache-hit != 'true'
              run: |
                  rustup toolchain install stable --profile minimal --no-self-update
                  rustup default stable
                  rustup target add aarch64-apple-darwin
                  rustup target add x86_64-apple-darwin
            # M1 macos-14 comes without Python preinstalled
            - uses: actions/setup-python@v6
              with:
                python-version: '3.13'

            # Install Quartz for DMG badges
            # https://github.com/electron-userland/electron-builder/issues/9511#issuecomment-3774092888
            - run: sudo pip3 install pyobjc-framework-Quartz


            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v6
              with:
                  node-version-file: .node-version
                  cache: "pnpm"

            # Does not need branch matching as only analyses this layer
            - name: Install Deps
              run: "pnpm install --frozen-lockfile"

            - name: Fetch Element Web
              run: pnpm run fetch --noverify -d "element.io/release/"

            - name: Copy variant config
              run: cp "element.io/release/build.json" variant.json

            - name: Build Natives
              run: |
                  pnpm build:native:universal
            - name: "[Unsigned] Build App"
              run: |
                  pnpm build:universal --publish never -m dmg
              env:
                  CSC_IDENTITY_AUTO_DISCOVERY: false
                  VARIANT_PATH: variant.json

            - name: Upload release asset
              uses: svenstaro/upload-release-action@v2
              with:
                file: ./dist/*.dmg
                tag: v${{ steps.prepare.outputs.version }}-chinese
                file_glob: true
                overwrite: true
                release_name: v${{ steps.prepare.outputs.version }} ${{steps.prepare.outputs.strDate}} 编译
